.header{
	background-color: #3F5F17;
	background-image: url(../img/bg/bg-1.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	color: #FFF;
}
.header__inner{
	display: flex;
	padding-top: 50px;
    align-items: center;
    height: 100Vh;
    flex-direction: column;
	position: relative;
}
.menu-list{
	display: flex;
	margin-bottom: 100px;
	&__item{
		text-transform: uppercase;
		font-size: 22px;
	    font-weight: 700;
		margin-right: 100px;
		&:last-child{
			margin-right: 0;
		}
	}
	&__link{		
		&:hover{
			color: #fcca45;
		}
	}
}
.photo{
	overflow: hidden;
	width: 110px;
	height: 110px;
	margin-bottom: 50px;
    border-radius: 50%;
	box-shadow:0 0 40px rgba(72, 119, 159,1);
	background-image: url("../img/placeholders/user-avatar-placeholder-small.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;	


}
.header__title{
	font-size: 26px;
	font-weight: 700;
	text-shadow:0 0 40px rgba(72, 119, 159,1);
}
.subtitle{
	font-size: 18px;
	font-weight: 700;
	margin: 0;
	text-shadow:0 0 40px rgba(72, 119, 159,1);
}





