body{
    color: #2F3035;
    font-family: 'SFProDisplay-Regular', sans-serif;
    font-size: 20px;
    line-height: 24px;
    font-weight: 400;
    overflow-x: hidden;
    min-width: 320px
}
.title{
    font-weight: 700;
    font-size: 29px;
    text-align: center;
    margin-bottom: 50px;
}
a{
    text-decoration: none;
}
