<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Портфолио - Дмитрий Денисов
        //- стили
        link(rel="stylesheet" href="libs/bootstrap/css/bootstrap.min.css")
        link(rel="stylesheet" href="css/main.min.css")
        link(rel="stylesheet" href="fonts/noto-webfont/noto.css")
        link(rel="stylesheet" href="fonts/font-awesome/css/font-awesome.min.css")

    body
        header.header 
            .container
                .header__inner
                    nav.menu
                        ul.menu-list
                            li.menu-list__item
                                a.menu-list__link(href="#")  Резюме
                            li.menu-list__item
                                a.menu-list__link(href="#")  портфолио
                            li.menu-list__item
                                a.menu-list__link(href="#")  контакты
                    .photo
                        img(src="img/usercontent/photo-small.jpg", alt="")
                    .header__title Дмитрий Денисов
                    .scroll
                        a(href="#resume" class="mouse_scroll PageScroll2id")
                            .mouse
                                .wheel
                            div
                                span.m_scroll_arrows.unu
                                span.m_scroll_arrows.doi
                                span.m_scroll_arrows.trei
        section.portfolio
            .container
                .title Мои работы
                .row
                    .col-sm-4.portfolio__item
                        a.item__link(href="#" target="_blank")
                            img.item__img(src="img/usercontent/portfolio.jpg")
                            p.item__title Сайт портфолио
                    .col-sm-4.portfolio__item
                        a.item__link(href="https://dmitriydenisov.github.io/gosurf/" target="_blank")
                            img.item__img(src="img/usercontent/gosurf.jpg")
                            p.item__title Лэндинг Go surf
                    .col-sm-4.portfolio__item
                        a.item__link(href="https://dmitriydenisov.github.io/shop-gidro/" target="_blank")
                            img.item__img(src="img/usercontent/shop-gidro.jpg")
                            p.item__title интернет-магазин Drive moto
                    .col-sm-4.portfolio__item
                        a.item__link(href="https://dmitriydenisov.github.io/mavic/" target="_blank")
                            img.item__img(src="img/usercontent/mavic.jpg")
                            p.item__title полноэкранный сайт квадрокоптера                    
                    .col-sm-4.portfolio__item
                        a.item__link(href="https://dmitriydenisov.github.io/desire/" target="_blank")
                            img.item__img(src="img/usercontent/desire.jpg")
                            p.item__title Многостраницный сайт дизайнерской мебели
                    .col-sm-4.portfolio__item
                        a.item__link(href="https://dmitriydenisov.github.io/tata/" target="_blank")
                            img.item__img(src="img/usercontent/teta.jpg")
                            p.item__title Лэндинг Тета Хилинг
        section.contacts
            .container
                .row
                    .col-sm-6
                        .title Контакты
                        .row
                            .col-lg-6
                                ul.contacts-list
                                    li.contacts-list__item
                                        .contacts-list__heading
                                            |Email
                                        .contacts-list__description
                                            a.contacts-list__link(href="mailto:dmitriyd2009@yandex.ru") dmitriyd2009@yandex.ru
                                    li.contacts-list__item
                                        .contacts-list__heading
                                            |skype
                                        .contacts-list__desc
                                            a.contacts-list__link(href="skype:dmitriy922806?chat") dmitriy922806
                            .col-lg-6
                                ul.contacts-list
                                    .contacts-list__item
                                        .contacts-list__heading
                                            |telegram
                                        .contacts-list__desc
                                            a.contacts-list__link(target="_blank" href="https://t.me/denisov_da1993") denisov_da1993
                                ul.contacts-list
                                    li.contacts-list__item
                                        .contacts-list__heading
                                            |Социальные сети
                                        .contacts-list__desc
                                            a.contacts-list__link.fa.fa-vk(href="https://vk.com/dimanchik123" target="_blank" )
                                            a.contacts-list__link.fa.fa-github(href="https://github.com/dmitriydenisov" target="_blank")
                    .col-sm-6
                        .title Связаться со мной
                        form#contact-form.contact-form
                            input(type="hidden" name="project_name" value="Мой персональный сайт")
                            input(type="hidden" name="form_from" value="admin@f0250965.xsph.ru")
                            input(type="hidden" name="admin_email" value="dmitriyd2009@yandex.ru")
                            input(type="hidden" name="form_subject" value="Обратная связь")

                            input(type="text" class="contact-form__input" name="name" placeholder="Имя")
                            input(type="text" class="contact-form__input" name="email" placeholder="Email")

                        .clearfix
                            input(type="text" class="contact-form__input contact-form__input--half-width" name="skype" placeholder="Skype")
                            input(type="text" class="contact-form__input contact-form__input--half-width" name="phone" placeholder="Телефон")
                        .contact-form__bg-pencill
                            textarea.contact-form__textarea(placeholder="Ваше сообщение" name="message")
                        input(type="submit" class="contact-form__submit" name="" value="Отправить")
                        #answer
        .copyright
            .container
                .copyright__inner
                    span.copyright__label © 2021 Денисов Дмитрий
                    span Веб-разработик из Саратов, занимаюсь версткой и созданием сайтов.
    //- script(src="js/main.js")