.button{
	display: inline-block;
    font-size: 16px;
	font-weight: 700;
	color: #FFF;

	padding: 11px 26px  14px;
	background-color: #fcca45;
	border-radius: 60px;
	box-shadow:0 0 19px 0 rgba(72, 119, 159,1);
    transition: all 0.3s ease-in;
		&:hover{
			background-color: #FFF;
			color: #fcca45;
			text-decoration: none;
		}
		&:active, &:focus{
			background-color: #fcca45;
			color: #000;
			text-decoration: none;
		}
	.fa{
		margin-right: 9px;
		font-size: 18px;
		/* color: #FFF; */
	}
}