.social-icon{
	font-size: 32px;
	margin-top: 19px;
	
	
	a{
		text-decoration: none;
		border-bottom: none !important;
        transition: all 0.3s ease-in;
	}
	
	.fa{
		margin-right: 30px;
		margin-bottom: 20px;
		
		&:list-chaild{
			margin-right: 0;
		}
	}
}